:root{
    --primary-color: #02373e;
    --secondary-color: #fbad9c;
    --terciario-color: #cafff2;
    --heading-color: #fff1ce;
    --white: #FFF;
    
    //Headings Sizes
    --h1-size: 3rem;

    //padings
    --padding-btn: 2rem;
}